.about-container{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  gap: 30px;
  background-color: white;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 0 0 8px 2px rgba( 0, 0, 0, 0.1);
  scroll-margin-top: 34.8vh;
}
.left-about img{
  flex-basis: 45%;
  width: 100%;
  max-width: 380px;
  height: auto;
  padding: 30px 30px;
}
.right-about{
  flex-basis: 55%;
  padding-top: 50px;
  padding-right: 10%;
  font-family: 'Inter', sans-serif;
}
.right-about h1{
  margin-bottom: 0;
}

@media (max-width: 763px){
  .about-container{
    flex-direction: column;
    padding: 10%;
  }
  .right-about {
  padding: 0;
}
  .left-about img{
    padding-left: 0;
  }
}