.RosAI-container{
  padding:0 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  scroll-margin-top: 34.8vh;
}
.Left-Rosources, .right-Rosources{
  flex-basis: 45%;
  background-color: white;
  box-shadow: 0 0 8px 2px rgba( 0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 20px;
}
.left-text, .right-text{
  padding-left: 20px;
  font-family: 'Inter', sans-serif;
}
.left-text h1, .right-text h1{
  margin: 0;
  font-weight: 600;
}
.left-text p, .right-text p{
  margin-top: 10px;
}
.Left-Rosources button, .right-Rosources button{
  font-size: 15px;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid rgb(135, 135, 135);
  cursor: pointer;
  border-radius: 5px;
}
.Left-Rosources button:hover, .right-Rosources button:hover{
 /* box-shadow: 0 0 8px 2px rgba( 0, 0, 0, 0.1); */
 box-shadow: 0 0 10px rgba(8, 145, 178, 0.3);
}
.btn-container{
  display: flex;
  justify-content: end;
  padding-right: 5%;
}
.btn-container a{
  text-decoration: none;
  color: black;
}

@media (max-width: 763px) {
    .RosAI-container{
      flex-direction: column;
      gap: 50px;
    }
    .left-text h1, .right-text h1{
      font-size: 20px;
    }
    .left-text p, .right-text p{
      font-size: 12px;
}
    .Left-Rosources button, .right-Rosources button{
      padding: 5px 8px;
      font-size: 12px;
    }
}