.nav-container {
  display: flex;
  justify-content: space-between;
  /* height: 100px; */
  border-bottom: 1px solid rgb(243, 243, 243);
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(5px);
  z-index: 10;
}
.nav-txt,
.nav-logo {
  flex-basis: 50%;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: larger;
  font-family: "Inter", sans-serif;
}

.nav-logo img {
  height: 40px;
  margin-right: 8px;
}
.nav-logo img,
.nav-logo p {
  position: relative;
  right: 138px;
}
.nav-logo p {
  margin: 0;
  /* text-decoration: none; */
}
.inr-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  font-size: larger;
  font-family: "Inter", sans-serif;
}
.inr-nav a:hover {
  /* color: rgb(49, 145, 150); */
  transition-duration: 0.3s;
  cursor: pointer;
}
.inr-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0;
  /* overflow: hidden; */
  transition-duration: 0.3s;
  text-decoration: none;
  color: black;
}
hr {
  margin: 0;
}
.nav-txt {
  display: flex;
  align-items: center;
}
.inr-nav a {
  position: relative;
}
.onhovering,
.clshovring {
  position: absolute;
  background-color: black;
  height: 2px;
  bottom: -5px;
  display: none;
  border: none;
  transform: translateX(-100%);
  /* top: 0; */
  left: 2px;
  right: 2px;
}
.onhovering {
  transform: translateX(0);
  display: flex;
}
.khide{
  display: none;
 position: fixed;
 right: 10%;
 top: 18px;
 cursor: pointer;
}
@media (max-width: 768px) {
  .nav-txt {
    position: fixed;
    top: 70px;
    right: 10%;
    left: 10%;
    border-radius: 10px;
    background: rgb(136, 226, 249);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.867);
    z-index: 999;
  }
  .ehide{
    display: none;
  }
  .inr-nav {
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-logo {
    justify-content: end;
    width: 100%;
  }
  .khide{
    display: flex;
  }
  .nav-container{
    justify-content: center;
  }
}
